<html ng-app="myApp">
	<head>
		<title>Users</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
		<script type="text/javascript">
			var myApp = angular.module('myApp', []);
			
			myApp.controller('MyController', function($scope){
				$scope.users = [];
				
				$scope.addUser = function (user) {
					$scope.users.push(angular.copy(user));
				}
			});
		</script>
	</head>
	<body ng-controller="MyController">
		<h4>{{users.length}} user saved</h4>
		<form>
			<input ng-model="user.firstname" placeholder="firstName" />
			<input ng-model="user.lastname" placeholder="lastName" />
			
			<button ng-click="addUser(user)">Add a user</button>
		</form>
		<ul>
			<li ng-repeat="user in users">{{user.firstname}} {{user.lastname}}</li>
		</ul>
	</body>
</html>
