.list-cards li{
	background-color: #C2E085;
	width: 200px;
	display: inline-block;
	margin: 10px;
	border: none;
	text-align: center;
	padding: 10px;
}

.list-cards li:hover{
	background-color: #9CCC65;
	border: none;
}